pipeline/foreach_wait_feb17th.json
{
	"name": "foreach_wait_feb17th",
	"properties": {
		"activities": [
			{
				"name": "foreach_wait_feb17th",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DynamicSqltables_Dataset_Feb17",
						"type": "DatasetReference",
						"parameters": {
							"table_name_dynamic": {
								"value": "@pipeline().parameters.table_name_input",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"wiat_task_to_run": {
				"type": "Array"
			},
			"table_name_input": {
				"type": "String"
			}
		},
		"annotations": []
	}
}